* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Definindo uma variável para receber as definições de cores e texto padrão*/
:root {
  /* Definições de cores*/
  --txt-color: white;
  --txt-head-color: #333;
  --bg-color-out: white;
  --bg-color-inside: #f9f9f9;
  --border-color: #ccc;

  --bt-color-calc: rgba(0, 128, 0, 1);
  --bt-hover-calc: rgba(0, 80, 0, 1);
  --bt-color-reset: rgba(255, 0, 0, 1);
  --bt-hover-reset: rgba(180, 0, 0, 1);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color-out);
}

/* Estilo para o container principal */
.container {
  text-align: center;
  width: 300px;
  margin: 20px auto 0px;
  padding: 20px;
  background-color: var(--bg-color-inside);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

h1 {
  color: var(--txt-head-color);
}

/* Estilo para o ícone da logotipo*/
.logo {
  max-width: 50px;
  margin-bottom: 20px;
}

/* Estilo para o cabeçalho */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para os campos de entrada */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilo para os botões */
button {
  width: 125px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--txt-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo específico para o botão Calcular */
#calcularBtn {
  background-color: var(--bt-color-calc);
}

#calcularBtn a:hover {
  background-color: var(--bt-hover-calc);
}

/* Estilo específico para o botão Limpar */
#limparBtn {
  background-color: var(--bt-color-reset);
}

/* Estilo para os campos de entrada de texto */
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

/* Estilo para o resultado e seu contêiner */
.resultado-container {
  margin-top: 20px; /* Ajuste o valor conforme necessário para a margem superior */
}

/* Propriedades do rodapé (Mensagem dedicatória)*/
#recado {
  margin-top: 20px;
  font-size: 10px;
}
