* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Definindo uma variável para receber as definições de cores de texto padrão*/



body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

h1 {
color: #333;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

/* Estilo para o container principal */
.container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Estilo para o logotipo */
.logo {
  max-width: 100%;
  height: auto;
}

/* Estilo para o cabeçalho */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para os campos de entrada */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Estilo para os botões */

button {
  padding: 10px 20px;
  font-size: 16px;
  /*background: linear-gradient(to bottom, #1258a5, #0f356d);*/
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*
button:disabled,
button.invalid {
  background: #ccc;
  cursor: not-allowed;
}*/

/*button:hover {
  background: linear-gradient(to bottom, #080927, #0f356d);
}*/

/* Estilo para o botão Calcular */
#calcularBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#limparBtn {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para os campos de entrada de texto */
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o resultado e seu contêiner */
.resultado-container {
  margin-top: 20px; /* Ajuste o valor conforme necessário para a margem superior */
}

.logo {
  max-width: 50px;
  margin-bottom: 20px;
}